#header{	
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
	/*margin: 5px auto;*/
	
	background-color: #00ffaa;
	text-align: center;
	width: 100%;
	height: 200px;
    color: black;
	

}

*{margin: 0; padding: 0;}
		#title{
			height: 100px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			position: absolute;
			perspective-origin: 50% 50%;
			perspective: 300px;
		}
		h1{
			text-align: center;
			font-family: sans-serif;
			color: rgba(0,0,0,0.8);
			line-height: 1em;
			transform: rotateY(50deg);
			perspective: 150px;
			perspective-origin: 0% 50%;
		}
		h1:after{
			content: attr(data-content);
			position: absolute;
			left: 0;
			top: 0;
			transform-origin: 50% 100%;
			transform: rotateX(-120deg);
		}
body{
    background-color: #ccffee;
}
@media only screen and (max-width:768px){
    h1:after{
			
			
		}   
}